<!-- Footer
    ============================================= -->
<!--<footer id="footer" class="dark" style="background: url('@Url.Content("~/areas/general/images/footer-bg.jpg")') repeat; background-size: cover;">-->
<footer id="footer" class="dark" style="background: url('@Url.Content("~/images/fondo-pie.jpg")') repeat;">
    <div class="container">
        <!-- Footer Widgets
        ============================================= -->
        <div class="footer-widgets-wrap">

            <div class="row col-mb-50">
                <div class="col-md-8">
                    <div class="widget clearfix">

                        <img src="~/images/footer-widget-logo.png" alt="Image" class="alignleft" style="margin-top: 8px; padding-right: 18px; border-right: 1px solid #FFFF;">

                        
                        <!--<div class="line" style="margin: 30px 0;"></div> -->

                        <div class="row col-mb-30">
                            <ul class="menu-footer">
                                <li><a href="#" class="lnk-menu-footer">Noticias</a></li>
                                <li><a href="#" class="lnk-menu-footer">Aviso de privacidad</a></li>
                                <li><a href="#" class="lnk-menu-footer">FAQ</a></li>
                                <li><a href="#" class="lnk-menu-footer">Contacto</a></li>
                            </ul>
                        </div>

                    </div>
                </div>

                <div class="col-md-4">
                    <div class="widget clearfix" style="margin-bottom: -20px;">

                        
                         <div class="py-2" style="background: url('@Url.Content("~/areas/general/images/world-map.png")') no-repeat center center;">
                            <div class="row col-mb-30" style="color:white;">
                                <div class="col-6">
                                    <address class="mb-0">
                                        <abbr title="Dirección" style="display: inline-block;margin-bottom: 7px;"><strong>Dirección:</strong></abbr><br>
                                        Av. Universidad #602<br>
                                        Lomas del Campestre<br>
                                        C.P. 37150<br>
                                        León, Guanajuato
                                    </address>
                                </div>
                                <div class="col-6">
                                    <abbr title="Teléfono"><strong>Tel:</strong></abbr><br /> (477) 710 85 00<br>
                                    <abbr title="Correo"><strong>Correo:</strong></abbr><a class="a" href="mailto:admin@pasenadog.mx?subject=Comentarios%20PaseanDog"> PaseanDog</a>
                                </div>
                            </div>
                        </div>
                        <a href="https://www.facebook.com/PaseanDog/" target="_blank" class="social-icon si-small si-rounded topmargin-sm si-facebook">
                            <i class="icon-facebook"></i>
                            <i class="icon-facebook"></i>
                        </a>

                        <a href="https://instagram.com/paseandog?lang=es" target="_blank" class="social-icon si-small si-rounded topmargin-sm si-instagram">
                            <i class="icon-instagram"></i>
                            <i class="icon-instagram"></i>
                        </a>
                        <a href="https://www.tiktok.com/c/paseandog" target="_blank" class="social-icon si-small si-rounded topmargin-sm si-tiktok">
                            <i class="icon-tiktok"></i>
                            <i class="icon-tiktok"></i>
                        </a>

                    </div>

                </div>
            </div>

        </div><!-- .footer-widgets-wrap end -->
    </div>

    <!-- Copyrights
    ============================================= -->
    <div id="copyrights" style="background: var(--dookey)">
        <div class="container">

            <div class="w-100 text-center" >
                
                    <div class="copyrights-menu copyright-links clearfix" style="color: #000; align-items:center;">
                        <a style="color: #000" ; href="~/General">Inicio</a>/<a style="color: #000" ; href="~/General">Política de Privacidad</a>/<a style="color: #000" ; href="~/General">Mapa del Sitio</a>/<a style="color: #000" ; href="mailto:admin@pasenadog.mx?subject=Comentarios%20PaseanDog">Contacto</a>
                    </div>
                    <p style="color: #000" ;>
                     &copy; 2023 Derechos Reservados - PaseanDog <!-- <span class="bg-secondary">@(await Component.InvokeAsync("GetIp"))</span> -->
                    <br />
                    Este portal solamente funciona con los navegadores: Google Chrome, Mozilla Firefox y Microsoft Edge
                    </p>
                    
                </div>
                   
        </div>


    </div><!-- #copyrights end -->
</footer><!-- #footer end -->