<header id="header" class="full-header"> <!-- #header begin -->
    <div id="header-wrap">
        <div class="container">
            <div class="header-row">

                <div id="logo"> <!-- #logo begin -->
                    <a href="~/General" class="standard-logo" data-dark-logo="~/images/logo-dark.png"><img src="~/images/logo.png" alt="PaseanDog Logo" /></a>
                    <a href="~/General" class="retina-logo" data-dark-logo="~/images/logo-dark@2x.png"><img src="~/images/logo@2x.png" alt="PaseanDog Logo" /></a>
                </div><!-- #logo end -->

                            
                <div id="primary-menu-trigger">
                    <svg class="svg-trigger" viewBox="0 0 100 100"><path d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20"></path><path d="m 30,50 h 40"></path><path d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20"></path></svg>
                </div>

                <!-- Primary Navigation
                ============================================= -->
                <nav class="primary-menu">
                    <ul class="menu-container">
                        <li class="menu-item">
                            <a class="menu-link" asp-area="General" asp-controller="Inicio" asp-action="Index">
                                <div>Inicio</div>
                            </a>
                        </li>
                        <li class="menu-item">
                        <li class="menu-item">
                            <a class="menu-link" asp-area="General" asp-controller="Inicio" asp-action="Index">
                                <div>Nosotros</div>
                            </a>
                        </li>                                               
                        
                        <li class="menu-item">
                            <a class="menu-link" asp-area="General" asp-controller="Inicio" asp-action="Index">
                                <div>Galerías</div>
                            </a>
                        </li>
                       
                       
                        <li class="menu-item">
                            <a class="menu-link" href="#"><div>Comunidad</div></a>
                            <ul class="sub-menu-container">
                                <li class="menu-item">
                                    <a class="menu-link" asp-area="General" asp-controller="Inicio" asp-action="Index">
                                        <div>Paseadores</div>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a class="menu-link" asp-area="General" asp-controller="Inicio" asp-action="Index">
                                        <div>Clientes</div>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a class="menu-link" asp-area="General" asp-controller="Inicio" asp-action="Index">
                                        <div>Estadísticas</div>
                                    </a>
                                </li>
                                

                            </ul>
                        </li>
                    </ul>

                </nav><!-- #primary-menu end -->
            </div>
        </div>
    </div>
    <div class="header-wrap-clone"></div>
</header><!-- #header end -->
