@{
    ViewData["Title"] = "Inicio";
    Layout = "~/Views/Shared/_layout.cshtml";
}



<section id="slider" class="slider-element boxed-slider">
    <div class="container clearfix">


        <div class="fslider" data-animation="fade">
            <div class="flexslider">
                <div class="slider-wrap">

                    <div class="slide">
                        <img src="~/areas/general/images/slider/inicio/slider-1.jpg" alt="Slide 1">
                        
                        
                    </div>
                    <div class="slide">
                        <img src="~/areas/general/images/slider/inicio/slider-2.jpg" alt="Slide 2">
                        
                    </div>
                    <div class="slide">
                        <!-- <img src="https://picsum.photos/1140/400?random=1" alt="Slide 3"> -->
                        <img src="~/areas/general/images/slider/inicio/slider-3.jpg" alt="Slide 3">
                       
                    </div>
                    <div class="slide">
                        <img src="~/areas/general/images/slider/inicio/slider-4.jpg" alt="Slide 4">                       
                    </div>
                    

                </div>
            </div>
        </div>
    
        <div align="center" >
            <h2 class="titulo-secciones">Beneficios de pasear a tu perro</h2>
            <p>
                <a href="~/Clientes/Inicio/Servicio" type="button" class="btn btn-primary btn-lg">Solicita un paseo</a>
            </p> <p>
                <a href="~/Clientes/Inicio/Registro" type="button" class="btn btn-primary btn-lg">Registro de clientes</a>
            </p>
            
        </div>

        <ul class="testimonials-grid grid-1 grid-md-2 grid-lg-3">
            <li class="grid-item">
                <div class="testimonial">
                    <div class="testi-image">
                        <img src="~/images/icoSalud.png" alt="icoSalud.png">
                    </div>
                    <div class="testi-content">
                        <div class="subtitulo-footer">
					      Salud							
				        </div>
                        <p>Hay ciertos problemas de salud que pueden prevenirse o tratarse haciendo ejercicio regularmente y llevando una dieta saludable.</p>
                    </div>
		        </div>
	        </li>
	        <li class="grid-item">
                <div class="testimonial">
                    <div class="testi-image">
                        <img src="~/images/icoRutina.png" alt="icoRutina.png">
			        </div>
                    <div class="testi-content">
                        <div class="subtitulo-footer">
					      Rutina
				        </div>
				        <p>Es importante mantener la rutina de tu mascota, la alimentación, el baño y las caminatas deberían darse como de normal</p>				
			        </div>
		        </div>
	        </li>
	<li class="grid-item">
		<div class="testimonial">
			<div class="testi-image">
				<img src="~/images/icoSociabilizacin.png" alt="icoSociabilizacin.png">
			</div>
			<div class="testi-content">
                <div class="subtitulo-footer">
					Sociabilización
				</div>
				<p>Es importante mantener la rutina de tu mascota, la alimentación, el baño y las caminatas deberían darse como de normal</p>
				
			</div>
		</div>
	</li>		
</ul>
    </div>


</section>

<section class="container c-paseador">
    <div class="row px-lg-5">
        <div class="col-lg-6 col-sm-12 p-5  ">
            <h1 class="titulo-secciones text-center">¿Te gustan los perros y quieres ser parte de nuestro equipo?</h1>
            <div class="texto-slogan py-3 text-center">Regístrate y comienza tu proceso de formación.</div>
                <div align="center">
                    <p>
                        <a href="~/Paseadores/Inicio/Registro" type="button" class="btn btn-primary btn-lg">Registro</a>
                    </p>
                </div>

        </div>
        <div class="col-lg-6 col-sm-12 px-5 pt-2 text-center ">
            <img src="~/areas/general/images/perro1.jpg" class="img-fluid perro1">
           
        </div>
       
    </div>
</section>
<!--

<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">

            <div class="row col-mb-80 mb-0">

                <div class="col-12">

                    <div class="fslider" data-pagi="false" data-animation="fade">
    <div class="flexslider">
        <div class="slider-wrap">
            <div class="slide"><a href="#"><img src="https://picsum.photos/id/237/1140/400" alt="Slide 1"></a></div>
            <div class="slide"><a href="#"><img src="https://picsum.photos/id/169/1140/400" alt="Slide 2"></a></div>
            <div class="slide"><a href="#"><img src="https://picsum.photos/1140/400?random=1" alt="Slide 3"></a></div>
            <div class="slide"><a href="#"><img src="https://picsum.photos/1140/400?random=2" alt="Slide 4"></a></div>
        </div>
    </div>
</div>
                </div>
            </div>
        </div>
    </div>
</section>

-->
<section id="content">
    <div class="content-wrap">
    </div>
</section><!-- #content end -->