@{
    ViewData["Title"] = "Paseadores-Aviso";
    Layout = "~/Views/Shared/_layout.cshtml";
}


<div id='blue' type="hidden">
    <div class="window-notice" id="window-notice">
        <div class="content">
            <div class="content-text" align="center">
                <p >Tus datos han sido registrados de forma exitosa. Nos pondremos en contacto para continuar con el proceso de selección.
                </p>
                <p>Espera nuestro llamado.</p>
                
            </div>
            <div align="center">                
                <p>
                    <a href="~/General" type="button" class="btn btn-primary btn-lg">Aceptar</a>
                </p>
            </div>
        </div>
        </div>
    </div>

</div>



